@use 'reset';
@use 'fonts';
@import 'variaveis';

//funções e extends
@function pxParaRem($valorPx, $ValorRem: 16) {
    @return ($valorPx / $ValorRem) * 1rem;
}

// fim funções

// class generic
input {
    font-size: pxParaRem(18);
    width: 90%;
    border-radius: 5px;
    outline: none;
    background-color: transparent;
    border: 1px solid $primaryColor;
    padding-left: 5px;
    height: 50px;
    transition: background 150ms;

    &:focus {
        border: 1px solid rgba($primaryColor, 0.6);
        transition: background 150ms;
        background-color: rgba($primaryColor, 0.6);
    }
}

input[name='entrar'] {
    cursor: pointer;
    font-size: pxParaRem(20);
    transition: background 150ms;
    background-color: $primaryColor;
    &:hover {
        color: $primaryColor;
        background-color: $secundaryColor;
    }
}

input[name='criar'] {
    color: $primaryColor;
    cursor: pointer;
    font-size: pxParaRem(20);
    transition: background 150ms;
    background-color: #1a1919a9;

    &:hover {
        transition: background 150ms;
        background-color: #1a1919;
    }
}

a {
    text-decoration: none;
    color: $tertiaryColor;
}

.container {
    display: flex;
    flex-direction: row;
    width: 100%;
    height: 100vh;

    .container-login {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 550px;
        height: inherit;
        background-color: #ffffff;

        stronge {
            color: $tertiaryColor;
            margin-right: auto;
            font-size: pxParaRem(52);
        }
        h1 {
            font-size: pxParaRem(45);
        }

        .container-login-form {
            width: 90%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;
            row-gap: 30px;
            height: inherit;
        }
    }

    .container-image {
        width: calc(100% - 550px);
        background-image: url('https://images.unsplash.com/photo-1536257104079-aa99c6460a5a?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D&auto=format&fit=crop&w=1470&q=80');
        background-size: cover;
        filter: brightness(0.5);
        height: inherit;
    }
}

// Login fim

// SingIn

.container-sign-up {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 620px;
    margin: 0 auto;
    height: 100vh;

    h1 {
        font-size: pxParaRem(45);
    }

    .container-sign-up-form {
        width: 620px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        row-gap: 30px;
        height: 400px;
    }
}
